<div class="bar">
    <div style="display: inline-block;">
        <a href="/embedding_search">Home</a>
    </div>
    <div style="display: inline-block; margin-left: 10px;">
        <a href="/embedding_search/help">Help</a>
    </div>
</div>