<div>
    <h3 style="margin-bottom: 30px;">Search Parameters</h3>

    <div style="margin-bottom: 15px;"><b>RCSB PDB</b>: Search 3D structures in RCSB.org database, including experimental entries and Computed Structure Models.</div>
    <div style="margin-bottom: 25px;"><b>AlphaFold DB</b>: Search 3D structures in AlphaFold DB.</div>

    <div style="margin-bottom: 10px;"><b>Search By</b></div>
    <div style="margin-left: 20px;margin-bottom: 10px;">Chain: Use a PDB chain as a query for the search.</div>
    <div style="margin-left: 20px;margin-bottom: 10px;">Assembly: Use a PDB assembly as a query for the search.</div>
    <div style="margin-left: 20px;margin-bottom: 25px;">UniProt: Use a UniProt accession as a query for the search.</div>

    <div style="margin-bottom: 25px;"><b>PDB ID</b>: 4-letters code of a PDB entry.</div>
    <div style="margin-bottom: 25px;"><b>Chain</b>: Instance identifier for the PDB chain defined as the mmcif term label_asym_id.</div>
    <div style="margin-bottom: 25px;"><b>Assembly</b>: Assembly identifier defined as the mmcif term _pdbx_struct_assembly.id.</div>

    <div style="margin-bottom: 10px;"><b>Return</b></div>
    <div style="margin-left: 20px;margin-bottom: 10px;">Chains: Returns PDB chains.</div>
    <div style="margin-left: 20px;margin-bottom: 25px;">Assemblies: Returns PDB assemblies.</div>

    <div style="margin-bottom: 25px;"><b>CSM</b>: Include <a href="https://www.rcsb.org/docs/general-help/computed-structure-models-and-rcsborg" target="_blank">RCSB.org Computed Structure Models</a> in the search results</div>

    <div style="margin-bottom: 25px;"><b># results</b>: Number of returned search results.</div>

    <div style="margin-bottom: 10px;"><b>Similarity Type</b></div>
    <div style="margin-left: 20px;margin-bottom: 10px;">Local: Uses unmodified scores from the embedding model. Local structure similarity may rank higher. Useful to find matches between local regions of 3D structures.</div>
    <div style="margin-left: 20px;margin-bottom: 25px;">Global: Scores are scaled based on the relationship between the number of residues, using the factor: min(query_length, target_length) / max(query_length, target_length). Useful to force global matches between structures.</div>

    <div style="margin-bottom: 15px;"><b>Switch to upload form</b>: Use a coordinates file as a query for the search.</div>
    <div style="margin-left: 20px;margin-bottom: 10px;">Format: Select the coordinates file format (.pdb, .cif, or .bcif).</div>
    <div style="margin-left: 20px;margin-bottom: 25px;">Chain ID: Use a specif chain of the structure (optional). If not present all chains are used.</div>

</div>