
<div style="height: 100%;width: 100%;">
    <iframe id="search-iframe" style="height: 100%;width: 100%;" ></iframe>
    <script type="text/javascript">
        document.getElementById('search-iframe').onload = function() {
            console.log(document.getElementById('search-iframe'));
            console.log("!!!!!!!!!");
        }
    </script>
</div>