{% extends "main.html.jinja" %}

{% block content %}

    <div style="margin-left: 50px; margin-top: 50px">
        {% include "home.html.jinja" %}
        <div style="margin-left: 50px;">{% include "meta.html.jinja" %}</div>
    </div>

{% endblock %}