<div class="intro_text">
    <div>
        Implementation of a 3D structure similarity search for proteins and multimeric assemblies based on a novel embedding model
        [<a href="https://www.biorxiv.org/content/10.1101/2025.02.28.640875v1" target="_blank">ref</a>].
    </div>
    <div style="margin-top: 8px">
        This application is a prototype; the official implementation will be integrated into the
        <a href="https://www.rcsb.org" target="'_blank">RCSB.org</a> search.
    </div>
    <div style="margin-top: 8px">
        The dataset includes protein chains and assemblies from RCSB PDB and AlphaFold DB.
    </div>
    <div style="margin-top: 8px">
        Data content was frozen in December 2024; newer PDB or AlphaFold DB structures are not available.
    </div>
    <div style="margin-top: 8px">
        The current implementation runs on a CPU-only instance. Querying by a 3D coordinates file may take some time, depending on the structure size.
    </div>
    <div style="margin-top: 8px">
        <span style="color:#edbc3c">WARNING:</span> AlphaFold DB search is temporarily unavailable.
    </div>
</div>