<div>
    Implementation of 3D structure similarity search for proteins and multimeric assemblies based on
    a new embedding model.

</div>
<div style="margin-top: 8px">
    This application is a prototype. The official implementation will be part of the
    <a href="https://www.rcsb.org" target="'_blank">RCSB.org</a> advanced search.
</div>
<div style="margin-top: 8px">
    Data content was frozen on 2024 December. Newer PDB structures are missing.
</div>