<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCSB PDB Chain Search</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        form > div {
            display:inline-block;
        }
        .form_switch:hover {
            color: lightskyblue;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: cornflowerblue;
        }
        a:visited {
            color: cornflowerblue;
        }
        a:hover {
            color: lightskyblue;
        }

    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>