<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCSB PDB Chain Search</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        form > div {
            display:inline-block;
        }

        .form_switch:hover {
            color: #0099FF;
            cursor: pointer;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>