{% extends "main.html.jinja" %}

{% block content %}

    <p>Chain {{ rcsb_id }} is not available. Try this other search.</p>
    <div style="margin-bottom: 25px;">{% include "bar.html.jinja" %}</div>
    {% include "meta.form.html.jinja" %}

{% endblock %}