{% extends "main.html.jinja" %}

{% block content %}

    <p>Your upload failed. What about this other search</p>
    <div style="margin-bottom: 25px;">{% include "bar.html.jinja" %}</div>
    {% include "meta.form.html.jinja" %}

{% endblock %}