{% extends "main.html.jinja" %}

{% block content %}

    <div style="margin-bottom: 25px;">{% include "bar.html.jinja" %}</div>
    <div>{% include "meta.form.html.jinja" %}</div>
    <div>{% include "table.html.jinja" %}</div>

{% endblock %}