<table>
    <script>
        function open_alignment(url){
            document.getElementById('search-iframe').src = url;
        }
    </script>
    {% for item in results %}
    <TR>
        <TD ><span>{{item.index}}</span></TD>
        <TD ><img width="100" src="{{ item.img_url }}" alt="{{ item.instance_id }}"></TD>
        <TD ><span onclick=open_alignment("{{ item.alignment_url }}") >{{item.instance_id}}</span></TD>
        <TD ><span>{{item.score}}</span></TD>
    </TR>
    {% endfor %}
</table>