
    <div style="margin-bottom: 30px;">
        <input type="radio" id="rcsb_db" name="db" value="rcsb" {% if db == "rcsb"%} checked {%  endif %}><label for="rcsb_db">RCSB PDB</label>
        <input style="margin-left: 30px;" type="radio" id="af_db" name="db" value="af" {% if db == "af"%} checked {%  endif %} disabled><label for="af_db">AlphaFold DB</label>
    </div>
    <script>
        const radioButtons = document.getElementsByName('db');
        function toggleDivVisibility() {
            let selectedValue;
            for (const radio of radioButtons) {
                if (radio.checked) {
                    selectedValue = radio.value;
                    break;
                }
            }

            const searchType = document.getElementById('search_type').parentElement.parentElement;
            const similarityType = document.getElementById('similarity_type').parentElement.parentElement;
            const includeCsm = document.getElementById('include_csm').parentElement.parentElement;

            if (selectedValue === 'rcsb') {
                searchType.style.display = 'inline-block';
                similarityType.style.display = 'inline-block';
                includeCsm.style.display = 'inline-block';
            } else if (selectedValue === 'af') {
                searchType.style.display = 'none';
                similarityType.style.display = 'none';
                includeCsm.style.display = 'none';
            }
        }
        radioButtons.forEach(function(radio) {
            radio.addEventListener('change', toggleDivVisibility);
        });
        document.addEventListener('DOMContentLoaded', function() {
            toggleDivVisibility();
        });
    </script>