<div style="margin-right:30px;">
    <div style="margin-bottom: 6px;">&nbsp;</div>
    <div>
        <label for="include_csm" >CSM</label>
        <input type="checkbox" id="include_csm" name="csm" value="true" {% if include_csm %} checked {%  endif %}>
    </div>
</div>
