<div style="margin-right:25px;">
    <div style="margin-bottom: 6px;"><label for="search_type" >Return</label></div>
    <div><select id="search_type" name="search_type" style="width: 100px;" required>
        <option value="chain" {% if granularity == "chain"%} selected {%  endif %}>Chains</option>
        <option value="assembly" {% if granularity == "assembly"%} selected {%  endif %}>Assemblies</option>
    </select></div>
</div>