<div style="margin-right:30px;">
    <div style="margin-bottom: 6px;"><label for="similarity_type" >Similarity Type</label></div>
    <div><select id="similarity_type" name="similarity_type" style="width: 100px;" required >
        <option value="local" {% if similarity_type == "local"%} selected {%  endif %}>Local</option>
        <option value="global" {% if similarity_type == "global"%} selected {%  endif %}>Global</option>
    </select></div>
</div>