<div style="margin-right:30px;">
    <div style="margin-bottom: 6px;"><label for="format">Format</label></div>
    <div><select name="format" id="format" required>
        <option value="pdb">PDB</option>
        <option value="mmcif">mmCIF</option>
        <option value="binarycif">BinaryCIF</option>
    </select></div>
</div>
<div>
    <div style="margin-bottom: 6px;"><label for="file" >File</label></div>
    <div><input type="file" name="file" id="file" ></div>
</div>
<div style="margin-right:30px;">
    <div style="margin-bottom: 6px;"><label for="chain_id">Chain ID</label></div>
    <div><input style="width: 50px;" type="text" name="chain_id" id="chain_id" placeholder="(all)"></div>
</div>